<!-- en angular la interpolacion {{}} nos permite escribir codigo js dentro del html , ligandolo con su archivo deonde se declaro-->
<!-- <h1>El resultado es: {{resultado}}</h1> -->
<!-- para capturar evento automaticamente se coloca () y dentro nos mostra un alista y declaramos la funcion que usaremos -->
<!-- <button (click)="sumar(1,2)">sumar</button> -->

<button [routerLink]="['/estructural']" routerLinkActive="active">Ir al componente escturctural</button>
<button [routerLink]="['/pipes']" routerLinkActive="active">Ir a pipes</button>
<button [routerLink]="['/compra']" routerLinkActive="active">Compra</button>
<button [routerLink]="['/venta']" routerLinkActive="active">Venta</button>
<button [routerLink]="['/formularios']" routerLinkActive="active">Formularios</button>
<button [routerLink]="['/todos']" routerLinkActive="active">Todos</button>
<hr>
