<p>formularios works!</p>
<form [formGroup]="form">
  <div class="">
    <input type="text" placeholder="Nombre" formControlName="name" />
    <pre>
      <code>
          {{ form.get('name')?.value}}
      </code>
    </pre>
  </div>

  <div class="">
    <input type="checkbox" formControlName="isChecked" />{{
    form.get("isChecked")?.value
    }}
    <!-- <pre>
      <code>
        {{isChecked | json}} //elpipe json formatea nuestro codigo para poder leer nuestro objeto de forma sencilla
      </code>
    </pre> -->
  </div>
</form>
{{ form.value | json }}
<button [disabled]="form.get('name')?.errors">Enviar</button>
