<app-header></app-header>
<router-outlet></router-outlet>

<!-- <app-listado></app-listado> -->

<!-- <h1>Directivas</h1>

<h2>atributo</h2>

<app-atributo></app-atributo> -->
<!--Ejemplo del html en el modificado colocando dos clases, messatype es 1 tomara la clase info <p _ngcontent-mpw-c0="" ng-reflect-ng-class="[object Object]" class="info">Mensaje importante</p> -->
<!--o si messagetype diferente de 1 tomara la clase error <p _ngcontent-lah-c0="" ng-reflect-ng-class="[object Object]" class="error">Mensaje importante</p> -->
<!-- <hr>

<h2>estructural</h2>

<app-estructural></app-estructural>

<hr/>

<h2>Pipes</h2>

<app-pipes>S</app-pipes> -->

